<div class="row">
  <div class="columnmd aboutpage">

    <h2>About Project</h2>


    <span>
        Hi! This is Ecommerce Shopping cart Website App for Demo purpose!. You can register online and buy and post product online.
        This is Testimonial NodeJS and AngularJS based Product. Please use this for testing only and thanks of lot for not messup with this project :D
        <br><br>

        <strong>TECHNOLOGY</strong><br>
        FrontEnd: AngularJS 4, ResponsiveWEB, CSS3, Jquery <br>
        BackEnd: NodeJS, ExpressJS, MySQL, Knex + Bookshelf (ORM), PassportJS, Multer <br>
        <br>
        You can write for query amit0shakya@gmail.com
    </span>

  </div>
</div>