.aboutpage{margin:30px auto; color:#353535}
.aboutpage h2{color:#1a84db; width: 100%; text-align: center;}
.userimg{width:246px; height: 335px; border-radius: 10px; overflow: hidden; margin:10px; float:left;}
.usertext{float: left; width: 600px; margin-left: 10px; color:#353535}